[submodule "ViewSwitcher"]
	path = ViewSwitcher
	url = https://github.com/LucianaMarques/ViewSwitcher
[submodule "Restructure"]
	path = Restructure
	url = https://github.com/LucianaMarques/Restructure
[submodule "Layout"]
	path = Layout
	url = https://github.com/LucianaMarques/Layout
[submodule "Orientations"]
	path = Orientations
	url = https://github.com/LucianaMarques/Orientations
[submodule "ControlFun"]
	path = ControlFun
	url = https://github.com/LucianaMarques/ControlFun
[submodule "ButtonFun_app"]
	path = ButtonFun_app
	url = https://github.com/LucianaMarques/ButtonFun_app
[submodule "helloworld_swift"]
	path = helloworld_swift
	url = https://github.com/LucianaMarques/helloworld_swift
